.wrapper {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
}

.table th,
.table td {
  padding: 5px;
  text-align: left;
  font-size: var(--font-size-blockTable);
}

.table td {
  display: flex;
  justify-content: center;
}

.checkboxDropdownIcon {
  position: relative;
  width: 10px;
  height: 10px;
}

.photo {
  width: 60%;
}

.displayedContent {
  color: var(--color-table-initial-block);
  background-color: var(--color-white);
  margin: 5px;
  box-shadow: 0 0 1px 0 black;
  border-radius: 10px;
  font-weight: bold;
}

.icon {
  stroke: var(--color-black);
  width: 30px;
  height: 30px;
}

.icon:hover {
  stroke: var(--color-table-initial-block);
  cursor: pointer;
}

.icon:active {
  stroke: var(--color-table-second);
}

.statusPublished,
.statusUnpublished {
  display: flex;
  width: 100%;
  gap: 10px;
}

.publishedIcon {
  margin: auto 0;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: rgb(114, 255, 114);
}

.unpublishedIcon {
  margin: auto 0;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: rgb(255, 111, 111);
}

@media screen and (max-width: 1250px) {
  .photo {
    height: 50%;
    width: 100%;
  }
  .table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
  }
}
