.wrapper {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  border: 1px solid red;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  font-size: var(--font-size-blockTable);
  background-color: var(--color-white);
}

.table td {
  display: flex;
  justify-content: center;
}

.checkboxContainer {
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
}

.checkboxLabel {
  display: none;
  margin-left: 10px;
  font-size: var(--font-size-tableBlock);
}

.checkboxContainer:hover .checkboxLabel {
  cursor: pointer;
}

.checkboxIcon {
  width: 40px;
}

.photo {
  width: 60%;
}

.displayedContent {
  color: var(--color-white);
  text-shadow: 0 0 1px var(--color-dark-accent);
  padding: 20px 0 20px 0;
  color: var(--color-accent);
  background-color: var(--color-dark-accent);
}

.icon {
  margin-right: 5px;
  padding: 5px;
  width: 40px;
  fill: var(--color-dark-accent);
  cursor: pointer;
}

.icon:hover {
  box-shadow: 0 1px 1px 0 white;
}

.icon:active {
  fill: var(--color-white);
}

@media screen and (max-width: 1250px) {
  .photo {
    height: 50%;
    width: 100%;
  }
  .table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    border: 1px solid red;
  }
}
