.filterBtns {
  display: flex;
  justify-content: center;
  margin-top: var(--margin-navbar);
  gap: 5px;
}

.filterBtn {
  max-width: 200px;
  height: 40px;
  white-space: pre-wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 5px solid white;
  box-sizing: content-box;
  color: var(--color-dark-accent);
  border-radius: 3px;
  box-shadow: 0 1px 0 0 var(--color-accent);
  cursor: pointer;
  margin-left: 20px;
  color: var(--color-accent);
}

.filterBtn:hover {
  box-shadow: 0 0 0 2px var(--color-accent);
}

.downarrowIcon {
  width: 15px;
  margin-left: 5px;
  fill: var(--color-dark-accent);
}

.filterBtn:hover .dropdown,
.filterBtn:active .dropdown {
  display: flex;
}

.filterBtn:focus {
  outline: none;
}

.filterBtn:hover .dropdown {
  box-shadow: 0 1px 0 0 var(--color-white);
  color: var(--color-dark-accent);
}

.filterBtn:focus-within {
  color: var(--color-dark-accent);
}

@media screen and (max-width: 1250px) {
  .filterBtns {
    margin-left: 0;
  }
}
