.wrapper {
  top: 0;
  position: fixed;
  width: 100%;
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: end;
  padding: 0 10px;
  background-color: var(--color-navbar);
  height: 60px;
  color: var(--color-white);
  z-index: 1;
}

.container {
  display: flex;
  text-align: center;
}

.portfolioContainer {
  position: absolute;
  left: var(--margin-sidebar);
  top: auto;
  bottom: auto;
  display: flex;
  align-items: center;
  margin: auto 0 auto 20px;
  transform: translateY(18px);
  gap: 10px;
  cursor: pointer;
}

.portfolioContainer:active {
  color: var(--color-light-accent);
  text-decoration: none;
}

.portfolioIcon {
  fill: var(--color-dark-accent);
}

.sliderContainer {
  display: flex;
  flex-direction: column;
}

.slider {
  width: 100px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  height: 60px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-right: 5px;
}

.name {
  margin-right: 10px;
}

.downarrow {
  margin: 0;
  padding: 0;
  width: 10px;
}

.downarrow path {
  fill: white;
}

.dropdown {
  position: absolute;
  width: 100px;
  top: 30px;
  display: none;
  background-color: var(--color-dark-accent);
  border-bottom: 1px solid var(--color-accent);
  margin-top: 30px;
  height: 100%;
  cursor: pointer;
}

.sliderContainer:hover .dropdown {
  display: block;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom-left-radius: 10px;
}

.exitIcon {
  margin-left: 5px;
  width: 20px;
  fill: var(--color-white);
}

.dropdown:active {
  background-color: var(--color-accent);
}
