/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
}
:root {
  --color-white: #fff;
  --color-sidebar: #003153;
  --color-accent: #007bd3;
  --color-navbar: #002743;
  --color-black: #000;
  --color-dark-accent: #004373;
  --color-light-accent: #a8dbff;
}
