.table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  color: var(--color-white);
}

.table th,
.table td {
  font-size: var(--font-size-rowTable);
  padding: 10px;
  text-align: center;
}

.table th {
  background-color: var(--color-sidebar);
  height: 50px;
}

tr:nth-child(2n) {
  background-color: var(--color-table-second);
}

.table td {
  justify-content: center;
  color: var(--color-table-initial);
}

.photo,
.icon {
  width: 70px;
  height: 70px;
}

.checkbox {
  height: 15px;
  width: 100%;
  cursor: pointer;
}

.displayedContent {
  font-weight: bold;
}

.editDelete {
  display: flex;
  margin-top: 18px;
  gap: 10px;
}

.editBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: none;
  background-color: var(--color-accent);
  color: var(--color-white);
  font-weight: bold;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.editIcon,
.deleteIcon {
  margin-right: 5px;
  width: 20px;
  fill: var(--color-dark-accent);
  cursor: pointer;
}

.editIcon {
  fill: var(--color-white);
}

.icon:active {
  fill: var(--color-accent);
}

@media screen and (max-width: 1250px) {
  .status {
    width: 250px;
    white-space: break-spaces;
  }
}
