.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  margin-top: 30px;
}
.tableRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.imageRow {
  display: flex;
  flex-direction: row;
}

.descriptionRow {
  margin-left: 20px;
}

.photo {
  max-width: 200px;
  max-height: fit-content;
  margin-right: 10px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.descriptionItem {
  margin-bottom: 5px;
}
